<!doctype html>
<html>
<head>
    <title>nancyschmancy.com - Collector of experiences and runtime errors</title>
    <script src="https://use.fontawesome.com/2fc01a0bac.js"></script>
</head>
<body style="background-color: black">
    <p style="font-family: monospace; color: #32cd32; font-size: 36px">&#60;Nancyschmancy coming='soon' /&#62;</p>
        <a href="https://twitter.com/nancyschmancy/" target="_blank"><i style="color: #909090"class="fa fa-twitter-square fa-3x" aria-hidden="true"></i></a> &nbsp; &nbsp; &nbsp;
        <a href="https://www.linkedin.com/in/nreyessf/" target="_blank"><i style="color: #909090"class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i></a> &nbsp; &nbsp; &nbsp;
        <a href="https://github.com/nancyschmancy" target="_blank"><i style="color: #909090"class="fa fa-github fa-3x" aria-hidden="true"></i></a>

</body>
</html>