<!doctype html>
<html>
<head>
    <title>nancyschmancy.com - Collector of experiences and runtime errors</title>
    <script src="https://use.fontawesome.com/2fc01a0bac.js"></script>
</head>
<body>
    <p style="font-family: monospace; color: #32cd32; font-size: 36px">&#60;Nancyschmancy coming='soon' /&#62;</p>
    <h3>Stuff I know:</h3>
    <ul>
        <li>HTML! What I'm coding in right now</li>
        <li>Python</li>
        <li>Javascript</li>
        <li>Some C++ from the early 2000's</li>
        <li>Web frameworks: Django, AngularJS, React</li>
        <li>AWS</li>
        <li>A LOT of NASA facts especially about the pioneering missions Mercury, Gemini & my favorite: APOLLO</li>
        <li>PS My favorite astronaut is Jim Lovell</li>
    </ul>
    <p>Yes my website is pretty bare and crappy because I'm busy making other cool thingies like:</p>
    <h3>Site design</h3>
        <ul>
            <li><a href="http://villaterrabella.com">villaterrabella.com</a></li>
            <li><a href="http://hackcancersf.com">hackcancersf.com</a></li>
            <li><a href="http://womensdaysf.com">womensdaysf.com</a></li>
        </ul>

    <h3>Graphic Design - Banners</h3>
    {% load static %}
    <img src="{% static "images/wed_sf.jpg" %}" alt="My image">
        <img src="/static/images/wed_sf.jpg" width="250">
        <img src="white_party.jpg" width="250">
        <img src="silicon_valley.jpg" width="250">
        <img src="anjou_bday_comic.jpg" width="250">
        <img src="anjou_bday_hawaiian.jpg" width="250">
        <img src="anjou_baby_shower.jpg" width="250">

    <h3>Banner Design</h3>
        <p>yup same gotta look for them</p>

    <a href="https://twitter.com/nancyschmancy/" target="_blank"><i style="color: #909090"class="fa fa-twitter-square fa-3x" aria-hidden="true"></i></a> &nbsp; &nbsp; &nbsp;
    <a href="https://www.linkedin.com/in/nreyessf/" target="_blank"><i style="color: #909090"class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i></a> &nbsp; &nbsp; &nbsp;
    <a href="https://github.com/nancyschmancy" target="_blank"><i style="color: #909090"class="fa fa-github fa-3x" aria-hidden="true"></i></a>
</body>
</html>